@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-notable: var(--font-notable);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

@keyframes carMoveSteps {

  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(130px);
  }

  70% {
    transform: translateX(130px);
  }

  100% {
    transform: translateX(260px);
  }

}

.car-animation {
  animation: carMoveSteps 2s ease-in-out infinite;
}

.progress-gradient {
  background: linear-gradient(90deg,
      transparent,
      rgba(21, 21, 21, 0.785),
      transparent);
  animation: gradientMove 2s ease-in-out infinite;
}

@keyframes gradientMove {


  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100px);
  }

  70% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(200px);
  }

}

.dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}